<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.zonetech.onduty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AssignmentActivity"></activity>
        <activity android:name=".Activities.FirstAiderActivity" />
        <activity android:name=".Activities.EmergencyActivity" />
        <activity android:name=".Activities.FormsActivity" />
        <activity android:name=".Activities.TransportationActivity" />
        <activity android:name=".Activities.HRActivity" />
        <activity android:name=".Activities.DepartmentsActivity" />
        <activity android:name=".Activities.RestaurantDetailsActivity" />
        <activity android:name=".Activities.RestrauntsActivity" />
        <activity android:name=".Activities.CompanyActivity" />
        <activity android:name=".Activities.GeneralActivity" />
        <activity android:name=".Activities.CustomSelectionActivity" />
        <activity android:name=".Activities.CreateBriefingActivity" />
        <activity android:name=".Activities.TaskActivity" />
        <activity android:name=".Activities.CreateTaskActivity" />
        <activity android:name=".Activities.MessageActivity" />
        <activity android:name=".Activities.EmployeeActivity" />
        <activity android:name=".Activities.MessagesActivity" />
        <activity android:name=".Activities.BriefingActivity" />
        <activity android:name=".Activities.TasksToFollowActivity" />
        <activity android:name=".Activities.OfficeDutyActivity" />
        <activity android:name=".Activities.OfficeOnDutyActivity" />
        <activity android:name=".Activities.MyOfficeActivity" />
        <activity android:name=".Activities.ChangeDutyHoursActivity" />
        <activity android:name=".Activities.EditLeaveActivity" />
        <activity android:name=".Activities.RequestedLeavesActivity" />
        <activity android:name=".Activities.RequestLeaveActvity" />
        <activity android:name=".Activities.RosterActivity" />
        <activity android:name=".Activities.VacationsActivity" />
        <activity android:name=".Activities.BussinessCardActivity" />
        <activity android:name=".Activities.PersonalCardActivity" />
        <activity android:name=".Activities.PersonalActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>